<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>

</head>

<body>

    <header>
        <div class="contenedor">
            <img class="logo" src="/images/isologomoradosmall.png" alt="gutenberg logo">
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <a class="active" href="/">Inicio</a>
                <a class="nav-link active" aria-current="page" href="/profile">Perfil</a>
                <a href="/product/carrito-compras">Carrito de compras</a>
                <a href="/product/detalle-producto">Detalle producto</a>
                <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
                <a class="nav-link active" aria-current="page" href="/user/registro">Registro</a>
                <!--a href="#">Géneros</a-->
                <a href="/ofertas">Ofertas</a>
                <a href="/product">Listado de Productos</a>
                <!---- <a href="#">Crowfounding</a> Se comenta para poder visualizar todo el menu hambuguesa  (vista administrador)-->
                <!----<a href="/product/detalle-producto">Detalle producto</a>-->
                <a href="/product/create">Crear Productos</a>
                <form class="create-logout" action="/user/logout" method="post">
                    <button type="submit">Cerrar Sesion</button>
                    <br>
                </form>
                <div>
                    <p> Sos administrador/a </p>
                </div>

            </nav>
        </div>
        <div class="lowerbar">
            <form>
                <input class="searchbox" type="text" placeholder="Buscar">
                <button type="submit" class="fa fa-search"></button>
            </form>
        </div>
    </header>

            <section class="title">
                <h2>LISTADO DE PRODUCTOS</h2>
            </section>
            <ul>
                <% for (let i=0; i < libros.length; i++) { %>
                    <li>
                        <!-- <a href="/libros/<%=libros[i].id%>"> -->
                        <a href="/product/<%=libros[i].id%>">

                            <%=libros[i].titulo%>
                        </a>

                    </li>
                    <% } %>
            </ul>
            <footer>
                <%- include('./partials/footer') %>
            </footer>
</body>